html {width:100%; height:100%;}
body {widows:100%; height:100%; margin:0;}

section {
	box-sizing: border-box;
	position: fixed;
	overflow: auto;
}

#feed, #cam {
	height: 50%;
	width: 40%;
	padding-right: 1%;
	left 0;
}

#feed {
	top: 0;
	padding-bottom: 1%;
}

#cam {
	bottom: 0;
	padding-top: 1%;
}

#facts {
	height: 100%;
	width: 60%;
	right: 0;
	top: 0;
	padding-left: 1%;
}

/* ------------------------------------------- */

.tweet {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	border-bottom: 1px solid #e8e8e8
}

.profile-img {
	float: left;
	margin-right: 5px;
}

.tweet .date {
	font-size: 13px;
	color: #8899a6;
}

.tweet .username {
	font-weight: bold;
}

.tweet p {
	margin: 4px;
}

.timeline-header {
	border: 1px solid #e8e8e8;
	padding: 12px;
	border-width: 0 0 1px;
	box-shadow: 0 0 0 -3px rgba(0,0,0,0);
	position: relative;
}

.ic-twitter-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 18px;
	height: 15px;
	background-position: -20px -161px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALEAAAC/CAYAAACxIz21AAAZEUlEQ…XZdvDq6+Lt6IyRUlavvfZaph3EuI7OEKmlZGQ7UQYmpaz+H6dZWKTP4oN2AAAAAElFTkSuQmCC);
	background-size: 177px 191px;
}